<br />
<br />
<input style="margin-right: 10px;" id="" name="instance_browser_ui" value="Inspect Selected Ligands" type="button" class="instance_browser_ui" disabled="disabled" ><input id="" name="savedone" value="Finish (all issues are addressed)" title="" class="savedone" type="button" disabled="disabled">
<form name="inst_brwsr_frm" id="inst_brwsr_frm">
	<input type="hidden" name="ligids" id="ligids" value="" />
	<input type="hidden" name="ligids_rsrch" id="ligids_rsrch" value="" />
	<input type="hidden" name="sessionid" id="sessionid" value="%(sessionid)s" />
	<input type="hidden" name="identifier" id="identifier" value="%(identifier)s" />
	<input type="hidden" name="instance" id="instance" value="%(instance)s" />
	<input type="hidden" name="filesource" id="filesource" value="%(filesource)s" />
</form>
<br />