<div id="rsrch_data_set_HOH_%(index)s_" class="rsrch_data_set" >
	<fieldset id="fieldset_binding_data_HOH_%(index)s_" class="" style="padding-right: 50px;">
		<legend><h3 style="background-color:#fff;">Site - %(dataset_disply_index)s</h3></legend>							
		<br /><label for="residuenum_HOH_%(index)s_">Residue Number:&nbsp;</label><input id="residuenum_HOH_%(index)s_" class="c_HOH capture_rsrch_data_input residuenum" type="text" name="residuenum_%(index)s_" value="%(residuenum)s" size="8" %(disabled)s />&nbsp;&nbsp;&nbsp;&nbsp;
		<label for="chain_id_HOH_%(index)s_">Chain ID:&nbsp;</label><input id="chain_id_HOH_%(index)s_" class="c_HOH capture_rsrch_data_input chain_id" type="text" name="chain_id_%(index)s_" value="%(chain_id)s" size="10" %(disabled)s /><br /><br />
		<br />
		<div id="binding_dataset_actions_HOH_%(index)s_" class="binding_dataset_actions">
			<input id="deletethis_rsrch_HOH_%(index)s_" class="deletethis_rsrch c_HOH capture_rsrch_data_input displaynone" type='button' value='Remove this set of data' %(disabled)s>
			<input id="addanother_rsrch_HOH_%(index)s_" class="addanother_rsrch c_HOH capture_rsrch_data_input fltrgt" type='button' value='Add another set of data' %(disabled)s>
		</div>
		<br class="clearfloat"/><br />
	</fieldset>
</div>