<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>%(identifier)s : Ligand Inventory</title>
<link rel="stylesheet" type="text/css" href="https://www.ebi.ac.uk/pdbe/pdb-component-library/css/pdbe-molstar-1.1.0.css">
<link rel="stylesheet" type="text/css" media="all" href="%(service_url_prefix)s/ccmodule_lite/styles/ccLiteModCommon.css" />
<link rel="stylesheet" type="text/css" media="all" href="%(service_url_prefix)s/ccmodule_lite/styles/themes/custom/jquery-ui-1.10.3.custom.css" />
<link rel="stylesheet" type="text/css" media="all" href="%(service_url_prefix)s/ccmodule_lite/styles/themes/custom/jquery-ui-1.10.3.custom.wwpdb.css" />
<script type="text/javascript">
	var CC_LITE_SESSION_DATA = {
			siteID :	'%(siteid)s',
			sessionID :	'%(sessionid)s',
			depId :	'%(identifier)s',
			sessPathPrefix : '%(session_url_prefix)s',
			servicePathPrefix : '%(service_url_prefix)s',
			fileSource : '%(filesource)s',
			dataFile : '%(datafile)s',
			instance : '%(instance)s',
			accptdImgFileTypes : %(accepted_img_file_types)s,
			accptdDefFileTypes : %(accepted_def_file_types)s
	}
</script>
<script type="text/javascript" src="https://www.ebi.ac.uk/pdbe/pdb-component-library/js/pdbe-molstar-plugin-1.1.0.js"></script>
<script type="text/javascript" src="%(service_url_prefix)s/ccmodule_lite/js/libs/lazysizes.min.js" defer></script>
<script type="text/javascript" src="%(service_url_prefix)s/ccmodule_lite/js/libs/mustache.js" defer></script>
<script type="text/javascript" src="%(service_url_prefix)s/js/jquery-10.2/core/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="%(service_url_prefix)s/js/jquery/plugins/jquery.form.min.js"></script>
<script type="text/javascript" src="%(service_url_prefix)s/ccmodule_lite/js/jquery/ui/jquery-ui.custom.min.js" defer></script>
<script type="text/javascript" src="%(service_url_prefix)s/js/jquery/plugins/jquery.form.min.js" defer></script>
<script type="text/javascript" src="%(service_url_prefix)s/ccmodule_lite/js/jquery/plugins/jquery.paginate.my.js" defer></script>
<script type="text/javascript" src="%(service_url_prefix)s/ccmodule_lite/js/jquery/plugins-src/jquery.hoverIntent.minified.js" defer></script>
<script type="text/javascript" src="%(service_url_prefix)s/js/jquery/plugins-src/jquery.bt.v097.min.js" defer></script>
<script type="text/javascript" src="%(service_url_prefix)s/applets/jmol-latest/jsmol/JSmol.min.nojq.js" defer></script>
<script type="text/javascript" src="%(service_url_prefix)s/ccmodule_lite/js/cc-lite-main.min.js?v=20190711" defer></script>
<script type="text/javascript" src="%(service_url_prefix)s/ccmodule_lite/js/cc-lite-global-view.min.js?v=20190711" defer></script>
<script type="text/javascript" src="%(service_url_prefix)s/ccmodule_lite/js/cc-lite-instance-view.min.js?v=20190711" defer></script>



    
</head>
<body class="oneColLiqCtrHdr">
<div id="container">

<!-- #mainContent begins -->
	<div id="mainContent" style="padding: 0px 0px;">
	<div id="nav_buttons" >
		<div title="" class="fltrgt savedone"><input id="" name="savedone" value="Finish (all issues are addressed)" title="" class="fltrgt savedone" type="button" disabled="disabled"></div>
		<input style="margin-right: 10px;" id="" name="back_to_summary_vw" value="Back to Summary View" class="fltrgt displaynone back_to_summary_vw" type="button" disabled="disabled">
		<input style="margin-right: 10px;" id="" name="instance_browser_ui" value="Inspect Selected Ligands" type="button" class="fltrgt instance_browser_ui" disabled="disabled" >
	</div>
	<br /><br /><br />
		<div id="ligand_summary_vw">
				<!-- <span id="help_glbl_smmry_vw" class="ui-icon ui-icon-info fltrgt"></span>
				<br /><br /> -->
				<div class="fltrgt noprint">
					<form id="load_smmry_frm" class="fltrgt">
						<input type="hidden" name="sessionid" id="sessionid" value="%(sessionid)s" />
		      			<input type="hidden" name="identifier" id="identifier" value="%(identifier)s" />
		      			<input type="hidden" name="instance" id="instance" value="%(instance)s" />
		      			<input type="hidden" name="filesource" id="filesource" value="%(filesource)s" />
		      			<input type="hidden" name="datafile" id="datafile" value="%(datafile)s" />
		      			<input type="hidden" name="caller" id="caller" value="%(caller)s" />
		      			<input type="hidden" name="filePath" id="filePath" value="%(filepath)s" />
		      			<input type="hidden" name="fileType" id="fileType" value="%(filetype)s" />
					</form>
				</div>
				<div class="fltlft errmsg glblerr ui-state-error ui-corner-all noprint"></div>
				<br class="clearfloat" />
				<form name="hlprfrm" id="hlprfrm" method="post">
					<input type="hidden" name="sessionid" id="sessionid" value="%(sessionid)s" />
					<input type="hidden" name="identifier" id="identifier" value="%(identifier)s" />
					<input type="hidden" name="instance" id="instance" value="%(instance)s" />
					<input type="hidden" name="classID" id="classid" value="%(classid)s" />
					<input type="hidden" name="filesource" id="filesource" value="%(filesource)s" />
					<input type="hidden" name="auth_assgnd_grp" id="hlprfrm_auth_assgnd_grp" value="" />
					<input type="hidden" name="content_type" id="hlprfrm_content_type" value="" />
					<input type="hidden" name="file_name" id="hlprfrm_file_name" value="" />
				</form>
				<br />
				<div id="helptxt" style="width: 100%%;">
						<p>(NEW) Ligands are extracted from your coordinates and searched against the released Chemical Component Dictionary (CCD) for an exact match.</p>
						<p>If no match is found in the CCD you will be asked to provide more information about your ligand. No match might be because your ligand is new to the CCD, your ligand isn't released or the coordinates of your ligand are incomplete.</p>
						<p>If there are any differences between the coordinates of your ligand and the top match from the CCD, you will be asked to provide more information about your ligand. These differences can be because the coordinates of your ligand are incomplete or the geometry of your ligand does not exactly match the CCD.</p>
						<p>Click on "Inspect Selected Ligands" to examine in more detail those ligands which require your attention.</p>
						<p>When you have addressed all the issues, pressing "Back to Summary View" will allow you to review the high-level inventory of your ligands to verify that all mismatches are addressed, and pressing "Finish (all issues are addressed)" will allow you to complete the ligand validation.</p>
						<!--<div id="help_ligand_summary" class="target ui-icon ui-icon-info fltlft" ></div>-->

						<p><b>If any ligand is the focus of the research, please check the corresponding checkbox in the last column below, or indicate that none of them are.</b></p>
						<br class="clearfloat" />

				</div>
				<h2>Summary of ligands identified in coordinate file provided for dataset: %(identifier)s</h2>
				<br class="clearfloat" />
					<div id="rslts"><div class="loading_msg">&nbsp;&nbsp;<img src="%(service_url_prefix)s/images/loading.gif" alt="loading..." />&nbsp;&nbsp;Loading results.</div></div>
		</div>
		<!-- #ligand_summary_vw ends above -->
		<div id="instnc_brwser_vw" class="displaynone">
			<h2 class="fltlft">Instance-level verification of ligands in deposition data set: %(identifier)s</h2>
				<div class="noprint">
				<input type="hidden" name="ligids_inst_vw" id="ligids_inst_vw" value="" />
				<input type="hidden" name="ligids_rsrch_inst_vw" id="ligids_rsrch_inst_vw" value="" />
				</div>
				<br class="clearfloat" />
					<div id="instnc_browser_container">
						<div class="loading_msg">&nbsp;&nbsp;<img src="%(service_url_prefix)s/images/loading.gif" alt="loading..." />&nbsp;&nbsp;Data being processed.</div>
					</div>
					<br class="clearfloat" />
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
		</div>
		<!-- #instnc_brwser_vw ends above -->
		<div id="uploaded_files" class="displaynone"></div>
	</div>
<!-- #mainContent ends above -->
</div>


<!-- #container ends above-->
</body>
</html>
